<div>
    <div class="search-form">
        <input class="searchByIpInput form-control" placeholder="xxx.xxx.xxx.xxx" maxlength="15">
        <button class="searchByIpButton btn btn-warning">Искать</button>
    </div>
    <section class="searchByIpResultsSection">
        <dl class="dl-horizontal">
            <dt>Страна:</dt>
            <dd class="country"></dd>
            <dt>Область:</dt>
            <dd class="region"></dd>
            <dt>Индекс:</dt>
            <dd class="postal"></dd>
            <dt>Город:</dt>
            <dd class="city"></dd>
            <dt>Организация:</dt>
            <dd class="organization"></dd>
            <dt>Широта:</dt>
            <dd class="latitude"></dd>
            <dt>Долгота:</dt>
            <dd class="longitude"></dd>
        </dl>
    </section>
    <section class="searchByIpErrorSection"></section>
</div>
